{{ define "main" }}
<section>
	<div class="h-screen flex items-center justify-center bg-fixed bg-cover bg-blend-overlay bg-no-repeat" style="background-image:url('{{ .Site.BaseURL }}images/case-study-splash.jpg');background-color:rgba(0,0,0,60%)">
		<h1 class="text-center text-7xl lg:text-9xl bg-clip-text text-transparent bg-gradient-to-br from-white to-indigo-400">
			{{ .Title }}
		</h1>
	</div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden">
        <div class="w-48 rounded-r h-full bg-gradient-to-r from-green-300 to-indigo-600"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">My Portfolio</h1>
        <!--p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">Leaving in the code in case I want to put something here.</p-->
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
		  {{ range .Pages }}
		    {{ .Render "summary" }}
		  {{ end }}
    </div>
  </div>
</section>

{{ end }}