{{ define "main" }}

{{ $imagePath := printf "images/case-study/%s" .Params.feature }}
{{ $image := resources.Get $imagePath }}

<img src="{{ ($image.Resize "1000x").RelPermalink }}" class="w-1/2 h-auto block mx-auto">



<section class="w-full md:w-1/2 block my-2 mx-5 lg:mx-auto">
	<h1 class="mb-2 text-2xl lg:text-4xl">{{ .Title }}</h1>

	<h3 class="text-xl lg:text-2xl italic">{{ .Params.subtitle }}</h3>

	{{ range .Params.tags }}
		<span class="rounded-full shadow px-5 p-2 mx-1 inline-block lg:mx-2 my-1 bg-gradient-to-r from-green-300 to-green-500  items-center font-semibold"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" class="h-4 w-4 inline " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg>&nbsp;{{ . }}</span>
	{{ end }}

	<p class="text-2xl w-2/3 mt-5 mb-2">
		{{ .Params.description }}
	</p>
</section>

<section class="w-full md:w-1/2 block my-2 mx-5 lg:mx-auto text-lg">
	{{ .Content }}
</section>

	<a href="{{ .Params.clientURL }}" class="no-underline text-xl lg:text-2xl my-5 block hover:bg-blue-500 text-white bg-blue-600 py-2 px-5 rounded border border-black shadow-md mx-auto" target="_blank" rel="nofollow">Visit {{ .Params.Client }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 inline" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
</svg></a>

<hr class="h-2 border-0 bg-gradient-to-r from-green-300 via-purple-400 to-blue-500 w-3/4 lg:w-1/2 rounded-full mx-auto block my-5 shadow">

{{ partial "contact-block" . }}

{{ end }}