{{ define "main" }}

	<section class="mb-10">
		<div class="h-80 flex items-center justify-center flex-col bg-center bg-cover bg-blend-darken bg-no-repeat" style="background-image:url('{{ .Site.BaseURL }}images/blog-splash.jpg');background-color:rgba(0,0,0,30%)">
			<h1 class="text-center text-5xl lg:text-7xl filter drop-shadow-md text-white">
				{{ .Title }}
			</h1>
			<h3 class="text-center text-xl lg:text-3xl filter drop-shadow text-white italic">{{ .Content }}</h3>
		</div>
	</section>

	<div class="flex flex-wrap flex-col lg:flex-row justify-evenly">
	  {{ range .Pages }}
	    {{ .Render "summary" }}
	  {{ end }}
	</div>

{{ end }}