{{ define "main" }}

{{ $imagePath := printf "images/blog/%s" .Params.feature }}
{{ $image := resources.Get $imagePath }}

	<section class="mb-10">
		<div class="h-screen flex items-center justify-center flex-col bg-center bg-cover bg-blend-darken bg-no-repeat text-center filter drop-shadow-md text-white" style="background-image:url('{{ ($image.Resize "1200x q65").RelPermalink }}');background-color:rgba(0,0,0,30%)">
			<h1 class="text-5xl lg:text-7xl sticky top-2">
				{{ .Title }}
			</h1>
		</div>
	</section>

	<div class="flex flex-col lg:flex-row justify-center container mx-auto">
		<section class="md:w-2/4 block my-2 lg:mr-20 mx-auto px-5">
			<span class="text-2xl italic mb-5 inline-block">
				{{ .Params.description }}
			</span>
			<span class="text-xl">
				{{ .Content }}
			</span>

			<span>
				<div class="h-1 bg-gray-200 rounded overflow-hidden mt-10">
	        <div class="w-48 rounded-r h-full bg-gradient-to-r from-green-300 to-indigo-600"></div>
	      </div>
				<h3 class="text-3xl mt-0 mb-5">What do you think?</h3>
				{{ partial "comments" . }}
			</span>
		</section>

		<aside class="w-full lg:w-1/4 md:sticky md:top-8 h-full">

			<div class="bg-gray-200 h-full rounded shadow p-10">
				<div class="text-center italic -mt-3 mb-5">
					Posted on {{ .Date.Format "January 02, 2006" }}
				</div>
				<!-- // { Metadata Stuff } -->
				{{ with .Params.category }}
					<div class="block flex items-center mb-10">
						<span class="inline-block rounded-full bg-green-300 p-3 mr-5">
							<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="folder-open" class="h-5 w-5 text-gray-800" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M527.9 224H480v-48c0-26.5-21.5-48-48-48H272l-64-64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h400c16.5 0 31.9-8.5 40.7-22.6l79.9-128c20-31.9-3-73.4-40.7-73.4zM48 118c0-3.3 2.7-6 6-6h134.1l64 64H426c3.3 0 6 2.7 6 6v42H152c-16.8 0-32.4 8.8-41.1 23.2L48 351.4zm400 282H72l77.2-128H528z"></path></svg>
						</span>
						<span class="font-semibold text-indigo-600 font-serif text-sm uppercase">
							{{ delimit . ", " }}
						</span>
					</div>
				{{ end }}

				{{ with .Params.tags }}
					<div class="block flex items-center mb-10">
						<span class="inline-block rounded-full bg-green-300 p-3 mr-5">
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tags" class="h-5 w-5 text-gray-800" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a48 48 0 0 0 14.059 33.941l211.882 211.882c18.744 18.745 49.136 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM112 160c-26.51 0-48-21.49-48-48s21.49-48 48-48 48 21.49 48 48-21.49 48-48 48zm513.941 133.823L421.823 497.941c-18.745 18.745-49.137 18.745-67.882 0l-.36-.36L527.64 323.522c16.999-16.999 26.36-39.6 26.36-63.64s-9.362-46.641-26.36-63.64L331.397 0h48.721a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882z"></path></svg>
						</span>
						<span class="font-semibold text-indigo-600 font-serif text-sm uppercase">
							{{ delimit . ", " }}
						</span>
					</div>
				{{ end }}

				<h4 class="italic text-center text-xl">Please Consider Sharing</h4>
				<div class="flex flex-row justify-evenly">
					<a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&via=@BloodConquered">
					  <svg class="transition-all duration-200 w-10 h-10 fill-current text-twitter hover:-rotate-45 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-151.9-42.6-199.6-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7-16-.4-31-4.8-44-12.1v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.6 146 479 129 492 109.5z"/>
		    </svg>
					</a>

					<!-- Facebook (url) -->
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
					  <svg class="text-facebook hover:-rotate-45 transform transition-all duration-200 w-10 h-10 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				      <path d="M426.8 64H85.2C73.5 64 64 73.5 64 85.2v341.6c0 11.7 9.5 21.2 21.2 21.2H256V296h-45.9v-56H256v-41.4c0-49.6 34.4-76.6 78.7-76.6 21.2 0 44 1.6 49.3 2.3v51.8h-35.3c-24.1 0-28.7 11.4-28.7 28.2V240h57.4l-7.5 56H320v152h106.8c11.7 0 21.2-9.5 21.2-21.2V85.2c0-11.7-9.5-21.2-21.2-21.2z"/>
				    </svg>
					</a>

					<!-- Reddit (url, title) -->
					<a href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}">
					  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="reddit" class="text-reddit hover:-rotate-45 transform transition-all duration-200 w-10 h-10 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M201.5 305.5c-13.8 0-24.9-11.1-24.9-24.6 0-13.8 11.1-24.9 24.9-24.9 13.6 0 24.6 11.1 24.6 24.9 0 13.6-11.1 24.6-24.6 24.6zM504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-132.3-41.2c-9.4 0-17.7 3.9-23.8 10-22.4-15.5-52.6-25.5-86.1-26.6l17.4-78.3 55.4 12.5c0 13.6 11.1 24.6 24.6 24.6 13.8 0 24.9-11.3 24.9-24.9s-11.1-24.9-24.9-24.9c-9.7 0-18 5.8-22.1 13.8l-61.2-13.6c-3-.8-6.1 1.4-6.9 4.4l-19.1 86.4c-33.2 1.4-63.1 11.3-85.5 26.8-6.1-6.4-14.7-10.2-24.1-10.2-34.9 0-46.3 46.9-14.4 62.8-1.1 5-1.7 10.2-1.7 15.5 0 52.6 59.2 95.2 132 95.2 73.1 0 132.3-42.6 132.3-95.2 0-5.3-.6-10.8-1.9-15.8 31.3-16 19.8-62.5-14.9-62.5zM302.8 331c-18.2 18.2-76.1 17.9-93.6 0-2.2-2.2-6.1-2.2-8.3 0-2.5 2.5-2.5 6.4 0 8.6 22.8 22.8 87.3 22.8 110.2 0 2.5-2.2 2.5-6.1 0-8.6-2.2-2.2-6.1-2.2-8.3 0zm7.7-75c-13.6 0-24.6 11.1-24.6 24.9 0 13.6 11.1 24.6 24.6 24.6 13.8 0 24.9-11.1 24.9-24.6 0-13.8-11-24.9-24.9-24.9z"></path></svg>
					</a>

					<!-- LinkedIn (url, title, summary, source url) -->
					<a href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}&summary={{ .Params.description }}&source={{ .Site.BaseURL }}">
					  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" class="text-linkedin hover:-rotate-45 transform transition-all duration-200 w-10 h-10 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg>
					</a>

					<!-- Email (subject, body) -->
					<a href="mailto:?subject=Article: {{ .Title }}&body=Check out this article I found! I thought you would like it.%0d%0a%0d%0a{{ .Title }}%0d%0a%0d%0a{{ .Params.description }}%0d%0a%0d%0aRead More @ RemySheppard.com!%0d%0a%0d%0a{{ .Permalink }}%0d%0a%0d%0a">
					  <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="envelope" class="text-indigo-800 hover:-rotate-45 transform transition-all duration-200 w-10 h-10 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>
					</a>
				</div>
			</div>

			<!-- Put More Sidebar Stuff Here -->

		</aside>

	</div>

{{ end }}