{{ $imagePath := printf "images/blog/%s" .Params.feature }}
{{ $image := resources.Get $imagePath }}

<div class="max-w-2xl mb-5 overflow-hidden bg-white rounded-lg shadow-md w-full lg:w-1/2">
	<a href="{{ .Permalink }}">
	  <img class="object-cover w-full h-64" src="{{ ($image.Resize "400x").RelPermalink }}" alt="Article">
	</a>

  <div class="p-6">
    <div>
      <span class="text-xs font-medium text-blue-600 uppercase ">{{ range .Params.category }}{{ . }}{{ end }}</span>
      <a href="{{ .Permalink }}" class="block mt-2 text-2xl font-semibold text-gray-800  hover:text-gray-600 hover:underline">{{ .Title }}</a>
      <p class="mt-2 text-sm text-gray-600 ">{{ .Params.description }}</p>
    </div>

    <div class="mt-4">
      <div class="flex items-center">
        <div class="flex items-center">
          <img class="object-cover h-10 rounded-full" src="{{ .Site.BaseURL }}images/{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}">
          <a href="#" class="mx-2 font-semibold text-gray-700 ">{{ .Site.Author.name }}</a>
        </div>
        <span class="mx-1 text-xs text-gray-600 ">{{ .Params.Date.Format "January 2, 2006" }}</span>
      </div>
    </div>
  </div>
</div>