<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }} – {{ $.Site.Title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ hugo.Generator }}
    {{- with $.Params.description -}}
      <meta name="description" content="{{ . }}">
    {{- end -}}
    {{- with $.Params.tags -}}
      <meta content="{{ delimit . ", " }}" name="keywords">
    {{- end -}}

    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

    <meta name="description" content="{{ .Params.description }}" />
    <meta itemprop="description" content="{{ .Params.description }}" />
    <meta property="og:description" content="{{ .Params.description }}" />
    <meta name="twitter:description" content="{{ .Params.description }}" />

    <base href="{{ .Permalink }}" />
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
    <meta name="url" content="{{ .Permalink }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}" />

    <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

    <link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
      <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon-57x57.png" />
    <link rel="icon" href="/favicon/favicon-32x32.png" sizes="32x32" />

    {{ with resources.Get "css/main.css" | resources.PostCSS (dict "inlineImports" true) | minify }}
      <style type="text/css">{{ .Content | safeCSS }}</style>
    {{ end }}

    <script src="https://kit.fontawesome.com/c7953f49d9.js" defer crossorigin="anonymous"></script>

  </head>

  <body style="overflow:overlay">
    <div class="flex flex-col h-full">

      {{ partial "navigation" . }}

      <!--div class="lg:px-16 px-5 text-gray-700 bg-gray-200 h-screen w-screen lg:mx-64 self-center"-->
        {{ block "main" . }}{{ end }}
      <!--/div-->
    </div>

    {{ partial "footer" . }}

    {{ partial "footer-inject" . }}
    
  </body>
</html>
