{{ $image := resources.Get "images/footer-map.jpg" }}

<section class="text-gray-600 body-font relative mt-5 bg-gradient-to-b from-transparent to-gray-300">

  <h2 class="text-2xl md:text-4xl text-center serif">Don't be shy: Say hi!</h2>

  <div class="container px-5 pb-24 pt-12 mx-auto flex sm:flex-nowrap flex-wrap">
    <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative shadow bg-cover bg-no-repeat bg-right-bottom bg-blend-luminosity bg-black" style="background-image:url('{{ ($image.Resize "900x").RelPermalink }}')">
      <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
        <div class="lg:w-1/2 px-6">
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">FAYETTEVILLE, NC</h2>
          <p class="mt-1">My current home base is my home town of Fayetteville, North Carolina. Home of the 82nd Airborne!</p>
        </div>
        <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs"><i class="fas fa-paper-plane"></i>&nbsp;EMAIL</h2>
          <a href="mailto:me@remysheppard.com?subject=Website Contact" class="text-green-500 hover:text-indigo-500 hover:underline transition-all duration-200 leading-relaxed">me@remysheppard.com</a>
          <!--h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4"><i class="fas fa-phone"></i>&nbsp;PHONE</h2>
          <p class="leading-relaxed"></p-->
        </div>
      </div>
    </div>
    <div class="lg:w-1/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
      <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Reach Out!</h2>
      <p class="leading-relaxed mb-5 text-gray-600">You can reach out to me through this form if you want, and I'll get back to you!</p>
      <form method="POST" netlify>
        <div class="relative mb-4">
          <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
          <input type="text" id="name" name="name" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
          <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <button class="text-white circuits border-0 py-2 px-6 w-full font-semibold shadow hover:shadow-lg rounded text-lg" type="submit">Submit</button>
      </form>
      <p class="text-xs text-gray-500 mt-3 text-center">🔒 Your information will remain secure.</p>
    </div>
  </div>
</section>

<script>
document.querySelector("form").addEventListener("submit", handleSubmit);

const handleSubmit = (e) => {
  e.preventDefault()
  let myForm = document.getElementById('pizzaOrder');
  let formData = new FormData(myForm)
  fetch('/', {
    method: 'POST',
    headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(formData).toString()
  }).then(() => console.log('Form successfully submitted')).catch((error) =>
    alert(error))
}
</script>