<hr class="border-0 bg-indigo-900 h-px">
<footer class="mt-0 mb-0 mx-0 p-0 flex flex-col bg-gradient-to-b lg:bg-gradient-to-r from-blue-500 via-purple-600 to-indigo-700 min-h-80">
	<div class="flex flex-col lg:flex-row justify-evenly p-10">
		<div class="text-white flex flex-col mb-5 lg:mb-0">
			<span class="flex title-font font-medium items-center text-gray-200">
				<img src="/pipe-logo.png" class="w-10 h-10 text-white filter invert drop-shadow-md shadow-none">
				<h5 class="ml-3 text-xl">Remy Sheppard</h5>
			</span>
			<p class="mt-2 text-sm text-white font-serif">High quality, bespoke web design <br> for your business.</p>

			{{ partial "social" . }}

		</div>

		<div class="text-white mb-5 lg:mb-0">
			<h5 class="font-serif text-xl mb-1 text-gray-200">Sitemap</h5>
			<p class="mt-2 text-sm text-white font-serif mb-2">Navigate this website.<br></p>

			<ul>
				{{ range .Site.Menus.main }}
					<li class="pb-1">
						<i class="{{ .Pre }}"></i>&nbsp;
						<a href="{{ .URL }}" class="hover:text-blue-400 transition-all duration-200 font-semibold hover:underline"{{- with .Post -}} target="{{- . -}}"{{- end -}}>
							{{ .Name }}
						</a>
					</li>
				{{ end }}
			</ul>
		</div>

		<div class="text-white mb-5 lg:mb-0">
			<h5 class="font-serif text-xl mb-1 text-gray-200">Case Studies</h5>
			<p class="mt-2 text-sm text-white font-serif mb-2">An in-depth look at my portfolio.<br></p>

			<ul>
				{{ range $index, $element := first 4 (where site.RegularPages "Section" "eq" "case-study") }}
					<li class="pb-1">
						<a href="{{ .Permalink }}" class="hover:text-blue-400 transition-all duration-200  font-semibold hover:underline">
							{{ .Title }}
						</a>
					</li>
				{{ end }}
				<li class="pb-1">
					<a href="{{ .Site.BaseURL }}/case-study/" class="hover:text-blue-400 transition-all duration-200 font-semibold hover:underline ">
						More <i class="fas fa-arrow-circle-right"></i>
					</a>
				</li>
			</ul>
		</div>

		<div class="text-white mb-5 lg:mb-0">
			<h5 class="font-serif text-xl mb-1 text-gray-200">Credits</h5>
			<p class="mt-2 text-sm text-white font-serif mb-2">This website was lovingly hand <br> crafted using the following resources:</p>
			<ul>
				<li class="pb-1">
					<a href="https://gohugo.io" target="_blank" class="hover:text-blue-400 transition-all duration-200  font-semibold hover:underline">
						Hugo</a>, static site generator
				</li>
				<li class="pb-1">
					<a href="https://fontawesome.com/" target="_blank" class="hover:text-blue-400 transition-all duration-200  font-semibold hover:underline">FontAwesome</a> icon pack
				</li>
				<li class="pb-1">
					<a href="https://tailwindcss.com/" target="_blank" class="hover:text-blue-400 transition-all duration-200  font-semibold hover:underline">TailwindCSS</a> utility framework
				</li>
				<li class="pb-1">
					<a href="https://www.heropatterns.com/" target="_blank" class="hover:text-blue-400 transition-all duration-200  font-semibold hover:underline">Hero Patterns</a> for the cool SVG patterns
				</li>

			</ul>
		</div>
	</div>

</footer>

<footer class="w-full text-center bg-indigo-900 py-5 text-white">
		Copyright <i class="far fa-copyright"></i> 2003 - {{ dateFormat "2006" now }} Remy Sheppard
</footer>
