<button onClick="document.getElementById('navigation').classList.toggle('hidden');" class="fixed top-5 right-5 px-4 py-3 shadow-md z-10 border-black rounded-lg bg-gray-300">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
  </svg>
</button>

  <div id="navigation" style="box-shadow:-5px 0 5px 0 rgb(0 0 0 / 60%);" class="cogs hidden fixed z-20 right-0 flex flex-col w-full lg:w-1/4 h-screen py-8 border-r ">
        
    <button onClick="document.getElementById('navigation').classList.toggle('hidden');" class="absolute top-5 right-5 px-4 py-3 shadow-md z-10 border-black rounded-lg bg-gradient-to-br from-green-300 to-green-400 ">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <h2 class="text-3xl font-semibold text-center text-gray-200">Remy Sheppard</h2>

    <div class="flex flex-col items-center mt-6 -mx-2">
      <img class="object-cover w-24 h-24 mx-2 rounded-full" src="/images/{{ .Site.Author.avatar }}" alt="remy sheppard">
      <a href="mailto:me@remysheppard.com" class="mx-2 mt-1 text-sm font-medium text-gray-200  hover:underline">me@remysheppard.com</a>
    </div>
        
        <div class="flex flex-col justify-between flex-1 mt-6">
          <nav>
            {{ range .Site.Menus.main }}
              <a class="flex items-center px-4 py-2 mb-5 text-gray-900 opacity-90 hover:opacity-100 bg-gradient-to-r from-green-400 to-blue-400 transition duration-600" href="{{ .URL }}"{{- with .Post -}} target="{{- . -}}"{{- end -}}>
                <i class="{{ .Pre }}"></i>&nbsp;
                <span class="mx-4 font-medium">{{ .Name }}</span>
              </a>
            {{ end }}
          </nav>
        </div>
    </div>
