<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Here's some of the work I've done</h1>
        <hr class="h-1 w-1/3 bg-gradient-to-r from-green-400 shadow to-indigo-500 rounded border-0">
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Each and every project is different and comes with its own unique set of challenges, setbacks, and victories. That's why I've taken the time to write up a case study on each one of my portfolio pieces. This way you can see exactly what was required, and how I accomplished those goals.</p>
    </div>
    <div class="flex flex-wrap -m-4">

    	{{ range $index, $element := first 4 (where site.RegularPages "Section" "eq" "case-study") }}
      
      	{{ $imagePath := printf "images/case-study/%s" .Params.feature }}
				{{ $image := resources.Get $imagePath }}

	      <div class="xl:w-1/4 md:w-1/2 p-4">
	        <a href="{{ .Permalink }}" class="bg-gray-200 hover:bg-gray-100 block p-6 rounded-lg shadow-md hover:shadow-lg transition-all duration-200 transform hover:scale-110" style="min-height:400px;">
	          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{ ($image.Resize "400x").RelPermalink }}" alt="content" load="lazy">
	          {{ with .Params.tags }}
	          	<div class="flex flex-wrap flex-row">
		          	{{ range first 3 . }}
		          		<span class="bg-green-300 text-xs m-px px-2 rounded-full py-px shadow-sm inline-flex items-center"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" class="h-3 w-3 inline " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg>&nbsp;{{ . }}</span>
		          	{{ end }}
		          </div>
	          {{ else }}
	          	<h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">{{ .Params.subtitle }}</h3>
	          {{ end }}
	          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{ .Title }}</h2>
	          <p class="leading-relaxed text-base">{{ .Params.description }}</p>
	        </a>
	      </div>

	    {{ end }}

    </div>
  </div>
</section>