<section name="reviews">
  <h2 class="text-4xl text-center mt-1 mb-9">
    What people say about me
  </h2>

  <div class="flex flex-col justify-evenly lg:flex-wrap lg:flex-row my-5">
    {{ range $.Site.Data.reviews }}
      <div class="bubbles md:w-80 w-3/4 mx-auto rounded-lg p-4 mb-6 shadow sm:inline-block">
        <div class="flex items-start text-left">
          <div class="flex-shrink-0">
            <div class="inline-block relative">
              <span class="block relative">
                <img alt="profile" src="/images/reviews/{{ .src }}.jpg" class="mx-auto object-cover border-white shadow-sm rounded-full h-16 w-16 " load="lazy">
              </span>
            </div>
          </div>
          <div class="ml-6">
            <p class="flex items-baseline">
              <span class="text-white">
                {{ .name }}
              </span>
            </p>
            <div class="flex items-center mt-1">
              {{ $rating := ( .rating ) }}
              {{ range ( seq $rating ) }}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="w-4 h-4 text-yellow-300" fill="currentColor" viewBox="0 0 1792 1792">
                  <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                  </path>
                </svg>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="mt-3">
          <p class="mt-1 max-w-xs font-light text-white">
            {{ .reviewShort }}
          </p>
        </div>
        <div class="flex items-start text-gray-100 mt-6 items-baseline flex-col lg:flex-row text-center">
          {{ with .project }}
            <a href="{{ $.Data.Params.website }}" target="_blank" class="font-semibold text-green-400 hover:underline mb-2 lg:mb-0 w-full lg:w-auto">
              {{ . }}
            </a>
          {{ end }}
          
          {{ with .case }}
            <a href="{{ . }}" class="px-5 text-indigo-900 font-semibold py-2 bg-gradient-to-r from-green-200 to-green-400 w-1/2 m-auto lg:m-0 lg:ml-auto lg:w-auto">
            Case
          </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</section>