{{ define "main" }}
	<section class="text-gray-600 body-font lg:bg-gradient-to-r from-gray-200 to-white w-full relative">
	  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col-reverse items-center">
	    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center ">
	    	<span class="prose">
	      	{{ .Content }}
	      </span>
	    </div>
	    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 relative mb-10 lg:mb-0">
	      <picture>
	        <source srcset="/images/me.webp" type="image/webp">
	        <img src="/images/me.jpg" class="object-cover object-center rounded-full shadow-md border-black border">
	      </picture>
	    </div>
	  </div>
	</section>

	<div name="interrupt" class="mx-5 lg:mx-auto w-auto lg:w-1/3 flex flex-col lg:flex-row shadow-lg h-auto lg:h-28 circuits border h-24 inline-block align-middle rounded-2xl transform -translate-y-12 py-3">
	  <span class="text-3xl text-white mx-auto my-5 lg:my-auto lg:ml-12 lg:h-1/2 filter drop-shadow-lg">
	    Get A Free Strategy Call!
	  </span>
	  <!-- Calendly link widget begin -->
		<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
		<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
	  <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/remy-sheppard'});return false;" class="mx-auto my-5  lg:ml-auto bg-gradient-to-t from-green-600 to-green-500 text-white font-bold shadow-lg hover:shadow-xl rounded-lg py-3 lg:my-auto lg:mr-12 px-8 text-center">
	    Click Here!
	  </a>
		<!-- Calendly link widget end -->
	</div>

	<!-- // { Portfolio } -->

	{{ partial "portfolio" . }}

	<!-- // { Reviews } -->

	{{ partial "reviews" . }}

	<!-- // { Contact } -->

	{{ partial "contact-block" . }}

{{ end }}